.loginBox{ height: 400px; width: 1081px; position: absolute; top:50%; left: 50%; margin-top: -270px; margin-left: -540px;}
.loginBox .bg{ width: 1081px; background: url("../../images/backstage/login-bg.png"); height: 196px;margin: 20px 0 30px 0;}
.loginBox .title{ width: 1081px; height: 49px; background: url("../../images/backstage/login-logo.png") no-repeat; }
.loginBox .tip{ width: 1081px; height: 35px; background: url("../../images/backstage/login-tip.png") no-repeat;line-height: 35px;}
.loginBox .tip .name{ display: inline-block; width: 90px; color: #fff;  text-align: center; margin-right: 20px; font-size: 14px;}
.loginInfo{ position: absolute; top: -20px; right: 30px; width: 346px; background: url("../../images/backstage/login-bg2.jpg"); border: 1px solid #cfcfcf; border-radius: 5px;height: 400px;}
.loginInfo .name{ padding: 20px 0 10px 18px; line-height: 34px; font-size: 17px;}
.loginInfo .name i{ display: inline-block; width: 34px; height: 34px; background: url("../../images/backstage/login-icon.jpg"); margin-right: 10px; vertical-align: middle}
.loginInfo .iteam{ padding-top: 15px;}
.loginInfo .iteam label{ display: inline-block; width: 80px; padding-left: 23px; font-weight: normal; color: #666;}
.loginInfo .iteam .text{ width: 210px; padding: 4px 10px; border: 1px solid #cfcfcf;}
.loginInfo .iteam .text2{width: 100px; padding: 4px 10px; border: 1px solid #cfcfcf; margin-right: 7px;}
.loginInfo .iteam .text3{width: 60px; padding: 4px 10px; border: 1px solid #cfcfcf; margin-right: 7px;}
.loginInfo .iteam .yzm{ border: 0; background: none;}
.loginInfo .iteam .yzm img{ border: 1px solid #cfcfcf; height: 30px; width: 80px; }
.loginInfo .iteam .change{ border: 0; background: none;}
.login-button{ height: 30px; line-height: 30px; background: #33a2d5; width: 210px; color: #fff; text-align: center; border: 0; }
.login-button:hover{ background: #199edc}
.loginLink{ color: #5e5e5e; text-decoration: underline; margin-right: 10px;}
.loginLink:hover{ color: #33a2d5; text-decoration: none;}
.loginBottom{ padding-left: 23px; padding-top: 10px;}
.loginBottom a{color: #666; margin-left: 10px;}
.loginError{ position: absolute; top:58px; left: 84px; color: #cc0001;}
.loginError .iconfont{ padding-right: 8px;}
.loginCopyright{  text-align: center; margin-top: 70px; color: #999}

.re-name{ font-size: 21px; color: #666; line-height: 90px;}
.regist{ padding: 20px;}
.re-yzm{ border: 0; background: none;}
.re-yzm img{ border: 1px solid #cfcfcf; height: 30px; width: 80px; }
.re-change{ border: 0; background: none;}
.text-xy{ line-height: 30px;}
